{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}


  {% comment %} <h1 class="title title--primary">{{ section.settings.title | escape }}</h1> {% endcomment %}

  {% comment %} {%- liquid
    case section.settings.sort
      when 'products_high' or 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date' or 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif

    assign moduloResult = 28 | modulo: section.settings.columns_desktop
    assign paginate_by = 30
    if moduloResult == 0
      assign paginate_by = 28
    endif
  -%} {% endcomment %}

  {% comment %} {%- paginate collections by paginate_by -%}
    <ul class="collection-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down" role="list">
      {%- for collection in collections -%}
        <li class="collection-list__item grid__item">
          {% render 'card-collection', card_collection: collection, media_aspect_ratio: section.settings.image_ratio, columns: 3 %}
        </li>
      {%- endfor -%}
    </ul>
    {% render 'pagination', paginate: paginate %}
  {%- endpaginate -%} {% endcomment %}
  <div class="section-holder">
    <div class="row">

        {% for collection in collections %}
        <div class="col-12 col-lg-4 collection-data">
            <div class="collection-img-container">
                <img src="{{ collection.image | image_url }}" alt="" id="prd_001x" class="img-fluid">
            </div>
            <div class="hp-coll-desc text-center mb-5">
                <p class="collection-name">{{ collection.title | upcase }}</p>
                <ul class="list-inline">
                    {% for product in collection.products %}
                      <li class="list-inline-item active">
                          {% comment %} {% for collection in collections %} {{- collection.title | link_to: collection.url}} {% endfor %} {% endcomment %}
                          <a href="{{ product.url }}" class="collection-pg-product-link">{{ product.title | upcase }}</a>
                      </li>
                    {% endfor %}
                    <!--<li class="list-inline-item">
                        <a href="#" class="collection-pg-product-link" 
                        onmouseover="document.getElementById('{{ product.image }}').src='../assets/t-shirt_boy_magic_blue.png'">Magic blue</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="collection-pg-product-link" onmouseover="document.getElementById('shirtcollection').src='../assets/t-shirt_boy_magic_blue.png'">Light gray</a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="collection-pg-product-link">Pure white</a></li>-->
                </ul>
            </div>
            <a href="{{ collection.url }}" class="btn btn-lg fw-bold coll-btn start-50 translate-middle-x position-relative mt-5" role="button" >see all</a>
        </div>
      {% endfor %}




        {% comment %} <div class="col-12 col-lg-4 collection-data">
          <div class="collection-img-container">
              <img src="../assets/t-shirt_girl_just_black.png" alt="" id="shirtcollection" class="img-fluid">
          </div>
          <div class="hp-coll-desc text-center mb-5">
              <p class="collection-name">T-shirt three60</p>
              <ul class="list-inline">
                  <li class="list-inline-item">
                      <a href="#" class="collection-pg-product-link active" 
                      onmouseover="document.getElementById('shirtcollection').src='../assets/t-shirt_girl_just_black.png'">Just black</a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="collection-pg-product-link" 
                      onmouseover="document.getElementById('shirtcollection').src='../assets/t-shirt_boy_magic_blue.png'">Magic blue</a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="collection-pg-product-link" onmouseover="document.getElementById('shirtcollection').src='../assets/t-shirt_boy_magic_blue.png'">Light gray</a>
                  </li>
                  <li class="list-inline-item"><a href="#" class="collection-pg-product-link">Pure white</a></li>
              </ul>
          </div>
          <a href="#" class="btn btn-lg fw-bold coll-btn start-50 translate-middle-x position-relative mt-5" role="button" >see all</a>
        </div> 
        <div class="col-12 col-lg-4 collection-data">
            <div class="collection-img-container">
                <img src="../assets/hoodie_boy_just_black.png" alt="" class="img-fluid">
            </div>
            <div class="hp-coll-desc text-center mb-5">
                <p class="collection-name">Hoodie three60</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="collection-pg-product-link active">Just black</a></li>
                    <li class="list-inline-item"><a href="#" class="collection-pg-product-link">Magic blue</a></li>
                    <li class="list-inline-item"><a href="#" class="collection-pg-product-link">Light gray</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-lg fw-bold coll-btn start-50 translate-middle-x position-relative mt-5" role="button" >see all</a>
        </div>
        <div class="col-12 col-lg-4 collection-data">
            <div class="collection-img-container">
                <img src="../assets/sweater_boy_just_black.png" alt="" class="img-fluid">
            </div>
            <div class="hp-coll-desc text-center mb-5">
                <p class="collection-name">Sweater three60</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="collection-pg-product-link active">Just black</a></li>
                    <li class="list-inline-item"><a href="#" class="collection-pg-product-link">Magic blue</a></li>
                    <li class="list-inline-item"><a href="#" class="collection-pg-product-link">Light gray</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-lg fw-bold coll-btn start-50 translate-middle-x position-relative mt-5" role="button" >see all</a>
        </div> {% endcomment %}
    </div>








{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "2",
      "label": "t:sections.main-list-collections.settings.columns_mobile.label"
    }
  ]
}
{% endschema %}
