{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{% comment %} 
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
 {% endcomment %}


<div class="contact section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      
        <div class="field">
          <input
            class="field__input"
            autocomplete="Vorname"
            type="text"
            id="ContactForm-vorname"
            name="contact[Vorname]"
            aria-required="true"
            style="padding:1rem !important;">
          <label class="field__label" for="ContactForm-vorname">Vorname <span aria-hidden="true">*</span></label>
        </div>

        <div class="field">
          <input
            class="field__input"
            autocomplete="Nachname"
            type="text"
            id="ContactForm-nachname"
            name="contact[Nachname]"
            aria-required="true"
            style="padding:1rem !important;">
          <label class="field__label" for="ContactForm-nachname">Nachname <span aria-hidden="true">*</span></label>
        </div>

        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            style="padding:1rem !important;">
          <label class="field__label" for="ContactForm-email">E-Mail <span aria-hidden="true">*</span></label>
        </div>
      
        <div class="field">
          <input
          type="tel"
          id="ContactForm-telefonnummer"
          class="field__input"
          autocomplete="Telefonnummer"
          name="contact[Telefonnummer]"
          aria-required="true"
          style="padding:1rem !important;">
          <label class="field__label" for="ContactForm-telefonnummer">Telefonnummer <span aria-hidden="true">*</span></label>
        </div>

        <div class="field">
          <input
            class="field__input"
            autocomplete="Name Marke"
            type="text"
            id="ContactForm-namemarke"
            name="contact[NameMarke]"
            aria-required="true"
            style="padding:1rem !important;">
          <label class="field__label" for="ContactForm-namemarke">Name (Marke, Merch, Unternehmen) <span aria-hidden="true">*</span></label>
        </div>

        <div class="field">
          <input
            class="field__input"
            autocomplete="Website"
            type="text"
            id="ContactForm-website"
            name="contact[Website]"
            aria-required="true"
            style="padding:1rem !important;">
          <label class="field__label" for="ContactForm-website">Website <span aria-hidden="true">*</span></label>
        </div>

        <div class="field">
          <input
            class="field__input"
            autocomplete="Social"
            type="text"
            id="ContactForm-social"
            name="contact[Social]"
            style="padding:1rem !important;">
          <label class="field__label" for="ContactForm-social">Social (Instagram/TikTok) </label>
        </div>

        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body1"
            class="text-area field__input"
            aria-required="true"
            name="contact[Erzähl uns von dir]"
            placeholder="Erzähl uns von dir" required>
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body1">Erzähl uns von dir</label>
        </div>

        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body2"
            class="text-area field__input"
            aria-required="true"
            name="contact[Wie hast du von uns gehört?]"
            placeholder="Wie hast du von uns gehört?" required>
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body2">Wie hast du von uns gehört?</label>
        </div>
        <div class="contact__button">
          <button type="submit" class="btn btn-lg fw-bold contact-btn button--primary">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
    {%- endform -%}
  </div>


{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
